img.icon {
    width: 16%;
}
img.content {
    width: 60%;
}
img.tweet {
    width: 76%;
}
img.download {
    width: 80%;
}
img.write {
    width: 64px;
}
a.write {
    order: 1;
    font-size: 2px;
}