.scroll {
    display: flex;
    width: 100%;
    overflow-x: scroll;
}
.sc_panel {
    width: 98%;
    margin: 10px;
    flex-shrink: 0;
}
.sc_panel img {
  width: 96%;
  border: 2px solid;
}
.scroll::-webkit-scrollbar {
      height: 14px; /* スクロールバーの高さ */
      }

      .scope::-webkit-scrollbar-thumb {
        background: #d2b48c; /* ツマミの色 */
          border-radius: 7px; /* ツマミ両端の丸み */
          }

          .scroll::-webkit-scrollbar-track {
            background: #f5deb3; /* トラックの色 */
              border-radius: 7px; /* トラック両端の丸み */
              }