div.icon {
    background-color:black;
}
div.header {
    background-color:cadetblue
}
div.content {
    background-color:darksalmon
}
div.sidebar {
    background-color:aquamarine
}
div.other {
    background-color:darkgray
}
div.link {
    background-color: paleturquoise;
}
div.fotter {
    background-color:brown;
    color: white;;
}