@font-face {
    font-family: system;
    src: url(../../../css/JNRfont.ttf);
}
@font-face {
    font-family: main;
    src: url(../../font/PottaOne-Regular.ttf);
}
@font-face {
    font-family: sub;
    src: url(../../font/YuseiMagic-Regular.ttf);
}
.main {
    font-family: main;
    font-size: 1em;
}
.sub {
    font-family: sub;
    font-size: 1em;
}
.sys {
    font-family: system;
    font-size: 1em;
}