.red {
    color: red;
}
.green {
    color: greenyellow;
}
.blue {
    color: darkturquoise;
}
.brown {
    color: peru;
}
.orange {
    color: orange;
}
a.btn-1 {
    background-color: coral;
    color: white;
    border-radius: 30px;
}
div.side a {
    background-color: coral;
    color: #773333;
    border-radius: 30px;
    border-color: chocolate;
    padding: 2px;
}