body {
    background-color: aquamarine;
}
.font1{
    font-size: 2em;
}
article {
    width: 99%;
    margin: 0 10px 10px 10px;
    display: flex;
    text-align: center;
}
div.side {
    width: 34%;
    order: 1;
    background-color: darkseagreen;
}
main.content {
    width: 64%;
    margin: 0 10px;
    order: 2;
    background-color: paleturquoise;
}
header {
    margin-top: 5px;
    max-width: 96%;
    background-color: cornflowerblue;
    display: flex;
}
h1.head {
    order: 2;
    font-size: 16px;
}
img.write {
    order: 1;
}
img.icon {
    order: 3;
}
article p {
    font-size: 0.4em;
}
article a {
    font-size: 0.3em;
}
article h2 {
    font-size: 1.2em;
}
article h3 {
    font-size: 1em;
}
article h1 {
    font-size: 1.4em;
}
p.use {
    font-size: 0.3em;
    color: red;
}
@font-face {
    font-family: train;
    src: url(./JNRfont.ttf);
}
.font_train {
    font-family: train;
}