div.panel {
    width: 320px;
    height: 442px;
    background-image: url(../../img-src/map.png);
    position: relative;
}
.tohoku {
    position: absolute;
    top: 0;
}
div.panel img {
    width: 64px;
}