.A {  display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 75px 640px 50px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "Body"
      "Link";
  }
  
  .header {  display: grid;
    grid-template-columns: 75px 300px;
    grid-template-rows: 75px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Icon Text";
    grid-area: header;
  }
  
  .Icon { grid-area: Icon; }
  
  .Text { grid-area: Text; }
  
  .Body {  display: grid;
    grid-template-columns: 140px 235px;
    grid-template-rows: 240px 200px 200px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Side Content"
      "Side Content"
      "Side Content";
    grid-area: Body;
  }
  
  .Content { grid-area: Content; }
  
  .Side { grid-area: Side; }
  
  .Link {  display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 25px 25px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      ".";
    grid-area: Link;
  }
  