div.bord {
    display: flex;
}
div.syubetu {
    display: flex;
    order: 0;
    width: 30%;
    border: black solid 3px;
    overflow-y: auto;
    scroll-snap-type: mandatory;
}
div.ikisaki {
    display: flex;
    order: 1;
    width: 66%;
    border: black solid 3px;
    overflow-y: auto;
    scroll-snap-type: mandatory;
}